<link href="https://fonts.googleapis.com/css?family=Playball&display=swap" rel="stylesheet">
.header__container

    .header__column

        span#jsClockDate date

    .header__column
        
        span#jsHeaderClock 00:00

    .header__column

        a(href="/") ToDo    



script(src="../js/clock.js")