extends layouts/main
    
block main
    <link href="https://fonts.googleapis.com/css?family=Handlee&display=swap" rel="stylesheet">
    
    .join__container

        form(class="join-form" action=`/user/join?Location=${location}`, method="post")

            input(class="join-name" type="text",name="name",placeholder="name")
            input(class="join-email" type="text",name="email",placeholder="email")
            input(class="join-password" type="password",name="password",placeholder="password")
            input(class="join-password2" type="password",name="password2",placeholder="verify password")
            input(class="join-submit" type="submit",value="Join")
    
    .join__container

        form(action='/user/login', method="get")

            input(type="submit",value="Login?")